In [ ]:
class Dog:
    def __init__(self, name, age, breed):
        self.name = name
        self.age = age
        self.breed = breed
        self.custom_method = "I like snacks"
        self.PI = 3.142857

    def bark(self):
        print("I can bark")

    def eat(self):
        print(self.custom_method)
        print("I can eat")

    def sleep(self):
        print("I can sleep")

    def some_calc(self):
        print(self.PI)

In [ ]:
dog_1 = Dog("abcd", 8, "German Sheperd")

In [ ]:
dog_1.sleep()

I can sleep

In [ ]:
dog_1.name

'abcd'

In [ ]:
dog_2 = Dog("cutie", 6, "pug")

In [ ]:
dog_2.eat()

I like snacks
I can eat

In [ ]:
dog_2.some_calc()

3.142857

In [ ]:
class math:
    def __init__(self):
        self.PI = 3.142857

    def area_of_circle(self, radius):
        return self.PI * (radius**2)

    def circum_of_circle(self, radius):
        return 2 * self.PI * radius

In [ ]:
my_math = math()

In [ ]:
my_math.area_of_circle(5)

78.57142499999999

In [ ]:
my_math.circum_of_circle(7)

43.999998

In [ ]:
class InterestRates:
    def __init__(self, principal, rate, time):
        self.principal = principal
        self.rate = rate
        self.time = time

    def simple_interest(self):
        interest = (self.principal * self.time * (self.rate/100))/100
        total_amount = self.principal + interest
        total_months = self.time/12
        emi = total_amount*total_months

        return interest, total_amount, emi

In [ ]:
interest_calculator = InterestRates(10000, 5, 1)

In [ ]:
interest_calculator.simple_interest()

(5.0, 10005.0, 833.75)

In [ ]:
833.75*12

10005.0

In [ ]:
class student:
    def __init__(self, name, age, fav_subject = "Physics"):
        self.name = name
        self.age = age
        self.subject = fav_subject

    sport = "cricket"

    def introduction(self):
        print(f"Hi my name is {self.name}, I am {self.age} years old and my favourite subject is {self.subject}.")

In [ ]:
roll_one = student("Arun", 18)

In [ ]:
roll_one.name = "Arun Kumar"

In [ ]:
roll_one.introduction()

Hi my name is Arun Kumar, I am 18 years old and my favourite subject is Physics.

In [ ]:
class student:
    def __init__(self, age):
        self.age = age

    def __setattr__(self, key, value):
        if key == "name":
            raise AttributeError("You cannot set the name attribute")
        super().__setattr__(key, value)

In [ ]:
s = student(20)

In [ ]:
s.age

20

In [ ]:
s.name = "Arjun"

AttributeError: You cannot set the name attribute

In [ ]:
class Encapsulation:
    def __init__(self, a, b, c):
        self.public = a
        self._protected = b
        self.__private = c

    def set_private(self, value):
        self.__private = value

    def get_private(self):
        return self.__private

In [ ]:
class student:
    def __init__(self, name, age):
        self.name = name
        self.__age = age

    @property
    def age(self):
        return self.__age

    # @age.setter
    # def age(self, value):
    #     if value < 0:
    #         raise ValueError("Age cannot be negative")
    #     self.__age = value

In [ ]:
s = student("Arun", 20)

In [ ]:
print(s.age)

20

In [ ]:
s.age = 10

AttributeError: property 'age' of 'student' object has no setter

In [ ]:
s.age

-10

In [ ]:
class student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [ ]:
st1 = student("Arun", 20)

In [ ]:
# st1.age = 21

In [ ]:
st1.age

20

In [ ]:
class NewStudent:
    def __init__(self, name, age):
        self.name = name
        self.__age = age

    @property
    def age(self):
        return self.__age

In [ ]:
st2 = NewStudent("Arun", 20)

In [ ]:
st2.age

20

In [ ]:
st2.age = 10

AttributeError: property 'age' of 'NewStudent' object has no setter

In [ ]:
st2.age

10

In [ ]:
class A:
    def __init__(self, a):
        self.a = a

    def b(self):
        print("I am B")

In [ ]:
a = A("c")

In [ ]:
a.b()

I am B

In [ ]:
a.a

'c'

In [ ]:
class BasicMath:
    def __init__(self):
        pass

    def add(self, lst):
        return sum(lst)

    def multiply(self, lst):
        result = 1
        for num in lst:
            result *= num
        return result

In [ ]:
math = BasicMath()

In [ ]:
math.add([1, 2, 3, 4])

10

In [ ]:
class BasicMath2:
    def __init__(self):
        pass

    def add(self, lst):
        return lst[-1]

In [ ]:
class AdvMath(BasicMath, BasicMath2):
    def __init__(self):
        pass

    # def add(self, lst):
    #     result = lst[0] * 2
    #     return result
    '''
    given a list of all numbers,
    add all the numbers = c, multiply all the number = d
    return c+d

    '''
    # def add(self, lst):
    #     return lst[0]

    def result(self, lst):
        c = BasicMath2.add(self, lst)
        return c

    def demo(self):
        print("Do something")

In [ ]:
advMath = AdvMath()

In [ ]:
advMath.result([1,2,3,4,5])

15

In [ ]:
15 + 120

In [ ]:
'''

BasicMath --> Parent
AdvMath --> Child

'''

'\n\nBasicMath --> Parent\nAdvMath --> Child\n\n'

In [ ]:
class Bird:
    def sound(self):
        return "chirp"

class Parrot(Bird):
    pass

class Penguin(Bird):
    def sound(self):
        return "Squeek"

In [ ]:
bird1 = Parrot()
bird2 = Penguin()

print(bird1.sound())
print(bird2.sound())

chirp
Squeek

In [ ]:
birds = [Parrot(), Penguin()]

In [ ]:
for bird in birds:
    print(bird.sound())

chirp
Squeek

In [ ]:
from abc import ABC, abstractmethod

In [ ]:
class Bird(ABC):
    def __init__(self):
        pass
    @abstractmethod
    def sound(self):
        print("chirp")

TypeError: Bird.sound() missing 1 required positional argument: 'self'

In [ ]:
b.sound()

chirp